[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.14"

[packages]
pyserial = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
pandas = "*"

[docs]
sphinx = "*"
hawkmoth = "*"
libclang = "*"
clang = "*"

[tests]

[scripts]
debug = "python -m pdb -c continue"
docs = "make -C ./docs singlehtml"
pdf = "make -C ./docs latexpdf"

[dev-packages]
