[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.14"

[packages]
pyserial = "3.5"
numpy = "2.4.2"
scipy = "1.17.0"
pillow = "12.1.1"
pandas = "3.0.1"
sphinx = "9.1.0"
matplotlib = "3.10.8"
twine = "*"
build = "*"
ruff = "*"
"x.phs1903" = {file = ".", editable = true}
hawkmoth = "*"
libclang = "*"
contourpy = "*"

[scripts]
debug = "python -m pdb -c continue src/xphs1903/demos"
run = "python -m xphs1903"
demo = "python -m xphs1903.demos"
docs = "make -C ./docs singlehtml latexpdf"

[dev-packages]

[dev]
