[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.14"

[packages]
pyserial = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
pandas = "*"

[scripts]
debug = "python -m pdb -c continue oxy_base.py"
run = "python oxy_base.py"
